*{
  font-family: 'Lato', sans-serif;
  color: white;
}

button:focus {
    outline: none;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
  padding: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background: #e5d99a url(http://www.interiordecodir.com/image/creative/creative-kitchen-countertops-home-interior-makeover-tips-moyuc.jpg)
   no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: 100;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

button {
  color: white;
  border: solid 2px #6b6b6b;
  box-shadow: 0 0 5 #000;
  padding: 15px;
  padding-right: 45px;
  padding-left: 45px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  width: 256px;
  background-color: transparent;
}

button:hover {
  border: solid 2px red;
}

.haveCash:hover {
  border: solid 2px green;
}

.disabled{
  color: white;
  opacity: 0.5;
}

#firstButton{
  width: 250px;
  height: 250px;
  border: none;
  background-color: transparent;
  background-image: url(images/wonton.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 15px;
}

#firstButton:active {
  background-size: 95%;
}

#money {
  float: left;
}

.container {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background: url(images/paper.jpg) no-repeat center center;
  background-size: cover;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  border: outset 3px #7e0001;
}
.scoreContainer {
  font-size: 24px;
  float: left;
  text-align: center;
}
#wontons{
  background-color: #e5d99a;
  border-color: #e5d99a #e5d99a #ae9f47 #ae9f47;
  border: outset;
}
#value {
  position: relative;
  left: 150px;
}
#cost:before {
  content: "w";
}
#dps {
  font-size: 0.5em;
  float: left;
}
#money, #dps {
  color: black;
  width: 100%;
  padding: 3px;
}
#particle{
  position: absolute;
  color: green;
  top:0;
  left:0;
  pointer-events:none;
  z-index: 9999;
}